 .u-section-1 {
  background-image: linear-gradient(white, #fef9e6);
  min-height: 942px;
}

.u-section-1 .u-icon-1 {
  width: 102px;
  height: 102px;
  margin: 49px calc(((100% - 1140px) / 2) + 87px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: "Open Sans Condensed Light";
  font-style: normal;
  margin: -131px auto 0 calc(((100% - 1140px) / 2) + 25px);
}

.u-section-1 .u-line-1 {
  width: 496px;
  transform-origin: left center 0px;
  margin: -14px auto 0 calc(((100% - 1140px) / 2) + 41px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 78px);
  padding: 21px 0 22px;
}

.u-section-1 .u-table-1 {
  width: 1027px;
  margin: 32px calc(((100% - 1140px) / 2) + 35px) 0 auto;
}

.u-block-5d96-49 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-34 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-35 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-36 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-37 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-38 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-39 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-40 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-42 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-43 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-44 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-45 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-46 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-47 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-48 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-block-5d96-35 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -513px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 32px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 23px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 19px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-7 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: -354px calc(((100% - 1140px) / 2) + 213px) 0 auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 328px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-9 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px calc(((100% - 1140px) / 2) + 84px) 0 auto;
  padding: 5px 12px 5px 10px;
}

.u-section-1 .u-icon-10 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: -420px calc(((100% - 1140px) / 2) + 213px) 0 auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-11 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px calc(((100% - 1140px) / 2) + 213px) 0 auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-12 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px calc(((100% - 1140px) / 2) + 213px) 0 auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-13 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px calc(((100% - 1140px) / 2) + 213px) 0 auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-14 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px calc(((100% - 1140px) / 2) + 213px) 0 auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-15 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px calc(((100% - 1140px) / 2) + 213px) 60px auto;
  padding: 2px 8px 3px 6px;
}

.u-section-1 .u-icon-16 {
  font-size: 1.6876em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 940px) / 2) + 87px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 940px) / 2) + 25px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-1 .u-btn-1 {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-table-cell-35 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-7 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
    padding: 10px 17px 10px 16px;
  }

  .u-section-1 .u-icon-8 {
    font-size: 1.375em;
  }

  .u-section-1 .u-btn-8 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2) + 87px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 25px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 87px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 25px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 340px) / 2) + 87px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 25px);
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 340px) / 2));
  }
}