 .u-section-1 {
  background-image: linear-gradient(white, #fef9e6);
  min-height: 942px;
}

.u-section-1 .u-line-1 {
  width: 496px;
  transform-origin: left center 0px;
  margin: 133px auto 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-icon-1 {
  width: 102px;
  height: 102px;
  margin: -18px calc(((100% - 1140px) / 2) + 50px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: "Open Sans Condensed Light";
  font-style: normal;
  margin: -85px auto 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-table-1 {
  width: 1063px;
  margin: 64px calc(((100% - 1140px) / 2) + 26px) 60px auto;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-table-footer-1 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 116px;
    margin-left: calc(((100% - 940px) / 2) + 51px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1px;
    margin-right: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2) + 51px);
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2) + 51px);
  }

  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 51px);
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2) + 44px);
  }

  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 154px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-top: -39px;
    margin-right: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 51px);
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: 17px;
    margin-right: calc(((100% - 340px) / 2));
  }
}